// @import '../../global-css/global';

.lg-container {
    position: relative;
    width: 100%;
    background-color: rgba(94, 137, 230, 0.342);
    min-height: 100vh;
    overflow: hidden;
}

.lg-forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.lg-cadastro {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
}

.lg-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.lg-sign-up-form {
    opacity: 0;
    z-index: 1;
}

.lg-sign-in-form {
    z-index: 2;
}

.lg-title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.lg-input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

.lg-input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
}

.lg-input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.lg-input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.lg-social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
}

.lg-btn {
    width: 150px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.lg-btn:hover {
    background-color: #4d84e2;
}

.lg-panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.lg-container:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: 0;
    right: 48%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 6;
}

.lg-image {
    width: 100%;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
}

.lg-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
}

.lg-left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.lg-right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.lg-panel .lg-content {
    color: #fff;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
}

.lg-panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.lg-panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

.lg-btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}

.lg-right-panel .lg-content {
    margin-right: 15rem;
}

.lg-right-panel .lg-image,
.lg-right-panel .lg-content {
    transform: translateX(800px);
}


// ANIMATION
.lg-container.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
}

.lg-container.sign-up-mode .lg-left-panel .lg-image,
.lg-container.sign-up-mode .lg-left-panel .lg-content {
    transform: translateX(-800px); 
}

.lg-container.sign-up-mode .lg-cadastro {
    left: 25%;
}

.lg-container.sign-up-mode .lg-sign-up-form {
    opacity: 1;
    z-index: 2;
}

.lg-container.sign-up-mode .lg-sign-in-form {
    opacity: 0;
    z-index: 1;
}

.lg-container.sign-up-mode .lg-right-panel .lg-image,
.lg-container.sign-up-mode .lg-right-panel .lg-content {
    transform: translateX(0%);
}

.lg-container.sign-up-mode .lg-left-panel {
    pointer-events: none;
}

.lg-container.sign-up-mode .lg-right-panel {
    pointer-events: all;
}


@media (max-width: 870px) {
    .lg-container {
      min-height: 800px;
      height: 100vh;
    }
    .lg-cadastro{
      width: 100%;
      top: 95%;
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
    }
  
    .lg-cadastro,
    .lg-container.sign-up-mode .lg-cadastro {
      left: 50%;
    }
  
    .lg-panels-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
    }
  
    .lg-panel {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 2.5rem 8%;
      grid-column: 1 / 2;
    }
  
    .lg-right-panel {
      grid-row: 3 / 4;
    }
  
    .lg-left-panel {
      grid-row: 1 / 2;
    }
  
    .lg-image {
      width: 200px;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.6s;
    }
  
    .lg-panel .lg-content {
      padding-right: 15%;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.8s;
    }
  
    .lg-panel h3 {
      font-size: 1.2rem;
    }
  
    .lg-panel p {
      font-size: 0.7rem;
      padding: 0.5rem 0;
    }
  
    .lg-btn.transparent {
      width: 110px;
      height: 35px;
      font-size: 0.7rem;
    }
  
    .lg-container:before {
      width: 1500px;
      height: 1500px;
      transform: translateX(-50%);
      left: 30%;
      bottom: 68%;
      right: initial;
      top: initial;
      transition: 2s ease-in-out;
    }
  
    .lg-container.sign-up-mode:before {
      transform: translate(-50%, 100%);
      bottom: 32%;
      right: initial;
    }
  
    .lg-container.sign-up-mode .lg-left-panel .lg-image,
    .lg-container.sign-up-mode .lg-left-panel .lg-content {
      transform: translateY(-300px);
    }
  
    .lg-container.sign-up-mode .lg-right-panel .lg-image,
    .lg-container.sign-up-mode .lg-right-panel .lg-content {
      transform: translateY(0px);
    }
  
    .lg-right-panel .lg-image,
    .lg-right-panel .lg-content {
      transform: translateY(300px);
    }
  
    .lg-container.sign-up-mode .lg-cadastro {
      top: 5%;
      transform: translate(-50%, 0);
    }
  }
  
  @media (max-width: 570px) {
    lg.lg-form {
      padding: 0 1.5rem;
    }
  
    .lg-image {
      display: none;
    }
    .lg-panel .lg-content {
      padding: 0.5rem 1rem;
    }
    .lg-container {
      padding: 1.5rem;
    }
  
    .lg-container:before {
      bottom: 72%;
      left: 50%;
    }
  
    .lg-container.sign-up-mode:before {
      bottom: 28%;
      left: 50%;
    }
  }
  